*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.hero {
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 0;
}

.list_caption {
    width: calc(25% - 40px);
    margin: 12px 20px;
    list-style-type: none;
    font-weight: bold;
    color: #458cf7;
    
}

.list_cell {
    width: calc(25% - 40px);
    margin: 0 20px;
    min-height: 150px;
    list-style-type: none;
    box-shadow: 0 0 7px -4px rgb(43, 42, 122);
    background-color: #f0f2f5;
    overflow: hidden;
}

.list_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
    cursor: all-scroll;
}

.list_card-header {
    font-weight: bold;
    padding: 12px 20px;
    background-color: #06214a;
    color: white;
}

.list_card-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #06214a;
}

.hide {
    display: none;
}

.hovered {
    background-color: #d3e5fd;
}